.item-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  list-style: none;
  padding-inline-start: 0;
  margin: 0 auto;
}

.empty {
  text-align: center;
  margin-top: 10px;
}

.empty-dark {
  color: #fff;
}
